<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drstrong.health.product.dao.activty.ActivityPackageInfoMapper">

    <sql id="Base_Column_List">
                id,
                activity_package_name,
                activity_package_code,
                product_type,
                store_id,
                activity_status,
                original_price,
                preferential_price,
                original_amount_display,
                activity_package_image_info,
                activity_package_introduce,
                activity_package_remark,
                version,
                del_flag,
                created_at,
                created_by,
                changed_at,
                changed_by
    </sql>

    <resultMap id="BaseResultMap" type="com.drstrong.health.product.model.entity.activty.ActivityPackageInfoEntity">
        <result column="id" property="id"/>
        <result column="activity_package_name" property="activityPackageName"/>
        <result column="activity_package_code" property="activityPackageCode"/>
        <result column="product_type" property="productType"/>
        <result column="store_id" property="storeId"/>
        <result column="activity_status" property="activityStatus"/>
        <result column="original_price" property="originalPrice"/>
        <result column="preferential_price" property="preferentialPrice"/>
        <result column="original_amount_display" property="originalAmountDisplay"/>
        <result column="activity_package_image_info" property="activityPackageImageInfo"
                typeHandler="com.drstrong.health.product.handler.mybatis.LongListTypeHandler"/>
        <result column="activity_package_introduce" property="activityPackageIntroduce"/>
        <result column="activity_package_remark" property="activityPackageRemark"/>
        <result column="version" property="version"/>
        <result column="del_flag" property="delFlag"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="changed_at" property="changedAt"/>
        <result column="changed_by" property="changedBy"/>
    </resultMap>

    <sql id="Manage_Query_By_Param">
        select
        <include refid="Base_Column_List"/>
        from pms_activity_package_manage
        where
        del_flag = 0 and store_id=#{queryParam.storeId}
        <if test="queryParam.activityPackageName != null and queryParam.activityPackageName != ''">
            and activity_package_name LIKE concat('%',#{queryParam.activityPackageName},'%')
        </if>
        <if test="queryParam.activityPackageCode != null and queryParam.activityPackageCode != ''">
            and activity_package_code LIKE concat('%',#{queryParam.activityPackageCode},'%')
        </if>
        <if test="queryParam.activityStatus != null">
            and activity_status = #{queryParam.activityStatus}
        </if>
        <if test="queryParam.createdAt != null">
            and created_at = #{queryParam.createdAt}
        </if>
        order by id desc
    </sql>

    <select id="pageQueryByParam" resultMap="BaseResultMap">
        <include refid="Manage_Query_By_Param"/>
    </select>

    <select id="listQueryByParam" resultMap="BaseResultMap">
        <include refid="Manage_Query_By_Param"/>
    </select>

    <update id="batchUpdateActivityStatusByCodes">
        update pms_activity_package_manage
        set activity_status = #{activityStatus},
        changed_by = #{operatorId},
        changed_at = now()
        where del_flag = 0
        and activity_package_code in
        <foreach collection="activityPackageCodeList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>