<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drstrong.health.product.dao.medicine.AgreementPrescriptionMedicineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.drstrong.health.product.model.entity.medication.AgreementPrescriptionMedicineEntity">
        <id column="id" property="id"/>
        <result column="medicine_code" property="medicineCode"/>
        <result column="medicine_name" property="medicineName"/>
        <result column="medicine_classification_info" property="medicineClassificationInfo"/>
        <result column="packing_spec" property="packingSpec"/>
        <result column="packing_unit" property="packingUnit"/>
        <result column="packing_unit_limit" property="packingUnitLimit"/>
        <result column="packing_unit_number" property="packingUnitNumber"/>
        <result column="split_unit" property="splitUnit"/>
        <result column="split_value" property="splitValue"/>
        <result column="image_info" property="imageInfo"/>
        <result column="prescriptions" property="prescriptions"/>
        <result column="efficacy" property="efficacy"/>
        <result column="usage_method" property="usageMethod"/>
        <result column="version" property="version"/>
        <result column="del_flag" property="delFlag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_at" property="createdAt"/>
        <result column="changed_by" property="changedBy"/>
        <result column="changed_at" property="changedAt"/>
    </resultMap>

    <resultMap id="agreementPrescriptionInfoWithUsageResultMap"
               type="com.drstrong.health.product.model.response.medicine.AgreementPrescriptionInfoVO">
        <id property="id" column="id"/>
        <result property="medicineName" column="medicine_name"/>
        <result property="medicineCode" column="medicine_code"/>
        <result property="packingSpec" column="packing_spec"/>
        <result property="packingUnit" column="packing_unit"/>
        <result property="packingUnitLimit" column="packing_unit_limit"/>
        <result property="packingUnitNumber" column="packing_unit_number"/>
        <result property="specUnit" column="spec_unit"/>
        <result property="specValue" column="spec_value"/>
        <result property="prescriptions" column="prescriptions"/>
        <result property="efficacy" column="efficacy"/>
        <result property="usageMethod" column="usage_method"/>
        <result property="useUsageDosage" column="use_usage_dosage"/>
        <result property="imageInfoList" column="image_info_list"/>
        <result property="medicineClassificationInfo" column="medicine_classification_info"/>
        <association property="medicineUsage"
                     javaType="com.drstrong.health.product.model.response.medicine.MedicineUsageVO">
            <id property="id" column="id"/>
            <result property="relationId" column="relation_id"/>
            <result property="relationType" column="relation_type"/>
            <result property="medicationFrequency" column="medication_frequency"/>
            <result property="eachDosageCount" column="each_dosage_count"/>
            <result property="eachDoseUnit" column="each_dose_unit"/>
            <result property="usageTime" column="usage_time"/>
            <result property="usageMethod" column="usage_method"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , medicine_code, medicine_name, medicine_classification_info, packing_spec, packing_unit, packing_unit_limit, packing_unit_number, split_unit, split_value, image_info, prescriptions, efficacy, usage_method, version, del_flag, created_by, created_at, changed_by, changed_at
    </sql>
    <select id="queryAgreementPrescriptionInfo"
            resultMap="agreementPrescriptionInfoWithUsageResultMap">
        SELECT pm.*,
               mu.*
        FROM pms_agreement_prescription_medicine pm
                 LEFT JOIN pms_medicine_usage mu ON pm.id = nu.relation_id AND relation_type = 2
        WHERE pm.id = #{id}
    </select>

</mapper>
