<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drstrong.health.product.dao.category.v3.CategoryMapper">

    <update id="updateLeafCountByIds">
        update pms_category set leaf_count = leaf_count + #{offset} where id in
        <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </update>

    <update id="updateChildrenNamePath">
		update pms_category set name_path = replace(name_path, #{oldNamePath}, #{newNamePath}) where id_path like concat(#{idPath}, '%')
	</update>

    <update id="updateStatusToDeleteById">
        update pms_category
        set status = -1,
            changed_by = #{changeByName},
            changed_at = now()
        where id = #{id}
    </update>

    <update id="updateStatusById">
		update pms_category set `status` = #{status},changed_by = #{changedName},changed_at = now() where id = #{categoryId}
	</update>
</mapper>