<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.drstrong.health.product.dao.chinese.ChineseMedicineMapper">


    <sql id="Base_Column_List">
       id,medicine_name,medicine_code,medicine_pinyin,alias_pinyin,medicine_alias,max_dosage
    </sql>

    <select id="likeQueryByKeyword"
            resultType="com.drstrong.health.product.model.entity.chinese.ChineseMedicineEntity">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            product_chinese_medicine
        WHERE
            id in (
            select id from product_chinese_medicine
            <where>
                <if test="keyword != null and keyword != ''">
                    AND medicine_name LIKE concat('%',#{keyword},'%')
                    OR medicine_pinyin LIKE concat('%',#{keyword},'%')
                    OR alias_pinyin LIKE concat('%',#{keyword},'%')
                    OR medicine_alias LIKE concat('%',#{keyword},'%')
                </if>
            </where>
        )
         and del_flag = 0
        limit 20
    </select>

    <select id="queryByMedicineIds"
            resultType="com.drstrong.health.product.model.entity.chinese.ChineseMedicineEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        product_chinese_medicine
        <where>
            id in
            <foreach collection="medicineIds" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="getByMedicineCodeIgnoreDel"
            resultType="com.drstrong.health.product.model.entity.chinese.ChineseMedicineEntity">
        select
            <include refid="Base_Column_List"/>
        from
            product_chinese_medicine
        where
         medicine_code = #{medicineCode}
    </select>

    <insert id="insertBatch" >
        insert into product_chinese_medicine
        ( id,medicine_name, medicine_code, medicine_pinyin, alias_pinyin, max_dosage, created_at, changed_at, version, del_flag )
        VALUES
            <foreach collection="chineseMedicines" separator=","  item = "chineseMedicine">
                (#{chineseMedicine.id}, #{chineseMedicine.medicineName}, #{chineseMedicine.medicineCode},
                #{chineseMedicine.medicinePinyin}, #{chineseMedicine.aliasPinyin}, #{chineseMedicine.maxDosage},
                #{chineseMedicine.createdAt}, #{chineseMedicine.changedAt}, #{chineseMedicine.version},#{chineseMedicine.delFlag})
            </foreach>
    </insert>

    <select id="pageQueryByRequest"
            resultType="com.drstrong.health.product.model.entity.chinese.ChineseMedicineEntity">
        select
        <include refid="Base_Column_List"/>
        from product_chinese_medicine
        where del_flag = 0 and (medicine_code = #{queryParam.searchKey} or medicine_name LIKE concat('%',#{queryParam.searchKey},'%'))
    </select>
</mapper>
