<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drstrong.health.product.dao.chinese.ChineseSkuInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drstrong.health.product.model.entity.chinese.ChineseSkuInfoEntity">
        <id column="id" property="id" />
        <result column="sku_code" property="skuCode" />
        <result column="sku_name" property="skuName" />
        <result column="old_medicine_id" property="oldMedicineId" />
        <result column="medicineCode" property="medicineCode" />
        <result column="store_id" property="storeId" />
        <result column="price" property="price" />
        <result column="sku_state" property="skuState" />
        <result column="version" property="version" />
        <result column="del_flag" property="delFlag" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="changed_by" property="changedBy" />
        <result column="changed_at" property="changedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_code, sku_name, old_medicine_id, medicineCode, store_id, price, sku_state, version, del_flag, created_by, created_at, changed_by, changed_at
    </sql>

</mapper>
