<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.drstrong.health.product.dao.chinese.ChineseMedicineMapper">


    <sql id="Base_Column_List">
       id,medicine_name,medicine_code,medicine_pinyin,alias_pinyin,medicine_alias,max_dosage
    </sql>

    <select id="likeQueryByKeyword"
            resultType="com.drstrong.health.product.model.entity.chinese.ChineseMedicineEntity">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            product_chinese_medicine
        WHERE
            del_flag = 0
        <if test="keyword != null and keyword != ''">
            AND medicine_name LIKE "%"#{keyword}"%"
            OR medicine_name LIKE "%"#{keyword}"%"
            OR medicine_code LIKE "%"#{keyword}"%"
            OR medicine_pinyin LIKE "%"#{keyword}"%"
            OR alias_pinyin LIKE "%"#{keyword}"%"
            OR medicine_alias LIKE "%"#{keyword}"%"
        </if>
        limit 20
    </select>
</mapper>
