<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drstrong.health.product.dao.sku.StoreSkuRecommendMapper">

    <resultMap id="BaseResultMap" type="com.drstrong.health.product.model.entity.sku.StoreSkuRecommendEntity">
        <result column="id" property="id"/>
        <result column="store_id" property="storeId"/>
        <result column="sku_code" property="skuCode"/>
        <result column="recommend_detail_info" property="recommendDetailInfoList"
                typeHandler="com.drstrong.health.product.handler.mybatis.RecommendDetailInfoTypeHandler"/>
        <result column="recommend_detail_info_pinyin_array" property="recommendDetailInfoPinyinArray"
                typeHandler="com.drstrong.health.product.handler.mybatis.StringListTypeHandler"/>
        <result column="recommend_detail_info_keyword_array" property="recommendDetailInfoKeywordArray"
                typeHandler="com.drstrong.health.product.handler.mybatis.StringListTypeHandler"/>
        <result column="version" property="version"/>
        <result column="del_flag" property="delFlag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_at" property="createdAt"/>
        <result column="changed_by" property="changedBy"/>
        <result column="changed_at" property="changedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                store_id,
                sku_code,
                recommend_detail_info,
                recommend_detail_info_pinyin_array,
                recommend_detail_info_keyword_array,
                version,
                del_flag,
                created_by,
                created_at,
                changed_by,
                changed_at
    </sql>

    <sql id="queryByParam">
        select
        pssr.id,
        pssr.store_id,
        pssr.sku_code,
        pssr.recommend_detail_info,
        pssr.recommend_detail_info_pinyin_array,
        pssr.recommend_detail_info_keyword_array,
        pssr.version,
        pssr.del_flag,
        pssr.created_by,
        pssr.created_at,
        pssr.changed_by,
        pssr.changed_at
        from pms_store_sku_recommend pssr
        <if test="queryParam.skuName == null">
            where pssr.del_flag = 0
        </if>
        <if test="queryParam.skuName != null and queryParam.skuName != ''">
            left join pms_store_sku_info pssi on pssr.sku_code = pssi.sku_code
            where pssi.del_flag = 0 and pssr.del_flag = 0
        </if>
        <if test="queryParam.storeId != null">
            and pssr.store_id = #{queryParam.storeId}
        </if>
        <if test="queryParam.skuCode != null and queryParam.skuCode != ''">
            and pssr.sku_code = #{queryParam.skuCode}
        </if>
        <if test="queryParam.skuName != null and queryParam.skuName != ''">
            and pssi.sku_name LIKE concat('%',#{queryParam.skuName},'%')
        </if>
        <if test="queryParam.keyword != null and queryParam.keyword != ''">
            and
            #{queryParam.keyword} MEMBER OF (pssr.recommend_detail_info_pinyin_array)
            or
            #{queryParam.keyword} MEMBER OF (pssr.recommend_detail_info_keyword_array)
        </if>
        order by pssr.id desc
    </sql>

    <select id="pageQueryByParam" resultMap="BaseResultMap">
        <include refid="queryByParam"/>
    </select>

    <select id="listQueryByParam" resultMap="BaseResultMap">
        <include refid="queryByParam"/>
    </select>
</mapper>