<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drstrong.health.product.dao.mybatis.PmsWesternMedicineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drstrong.health.product.model.entity.medication.WesternMedicineEntity">
        <id column="id" property="id"/>
        <result column="medicine_name" property="medicineName"/>
        <result column="full_name" property="fullName"/>
        <result column="common_name" property="commonName"/>
        <result column="brand_name" property="brandName"/>
        <result column="medicine_code" property="medicineCode"/>
        <result column="pinyin" property="pinyin"/>
        <result column="english_name" property="englishName"/>
        <result column="chemical_name" property="chemicalName"/>
        <result column="standard_code" property="standardCode"/>
        <result column="approval_number" property="approvalNumber"/>
        <result column="version" property="version"/>
        <result column="del_flag" property="delFlag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_at" property="createdAt"/>
        <result column="changed_by" property="changedBy"/>
        <result column="changed_at" property="changedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, medicine_name, full_name, common_name, brand_name, medicine_code, pinyin, english_name, chemical_name, medicine_category_info, standard_code, approval_number, version, del_flag, created_by, created_at, changed_by, changed_at
    </sql>

</mapper>
